body {
    background-color: rgb(182, 182, 182);
}

.titulo {    
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
    text-align: center;
}

h1 {
    color: white;
}

.tamanhoTable {
    margin-top: 20px;
    width: 100%;
    border: 1px;
}


